.header
      height: 40px
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      background-color: #76AEED

      & li
            list-style-type: none
            cursor pointer
            padding 10px
      

